# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directory created by Visual Studio Code
.vscode/

# directory created by QT
Lab_DeseNet/work/desenet-sensor/ide-qtcreator/build-desenet-sensor-Desktop_Qt_6_4_0_MinGW_64_bit-Debug/